.hero {
    background-size: cover;
    background-attachment: fixed;
    height: 54vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.hero-right {
    text-align: right;
}

.hero-left {
    text-align: left;
}

.index-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url('../welcome.jpg');
}

body, html {
    height: 100%;
}

.index-text {
    background: linear-gradient(rgb(72, 50, 35), rgb(125, 92, 64));
    color: white;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
    padding: 3%;
}

.index-img {
    position: relative;
    height: 400px;
}

.index-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.row {
    position: relative;
    margin: 2px;
}

.portfolio-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url('../WIP.jpg');
}

.pre-footer-wrapper {
    min-height: 100%;
    padding-bottom: 100px;
}

footer {
    position: relative;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}
