.hero {
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 15px;
    padding: 10%;
    margin: 10px 0px 25px 0px;
}

.hero-right {
    text-align: right;
}

.hero-left {
    text-align: left;
}

.index-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url('../welcome.jpg');
}

.index-content {
    padding: 0 0 0 0;
}

.left-col {
    padding: 0 20px 0 0;
}

.right-col {
    padding: 0 0 0 20px;
}

.contact-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url('../contact.jpg');
    background-attachment: local;
}

.contact-text {
    text-align: center;
    font-size: 20px;
}

body, html {
    height: 100%;
}

body {
    background: linear-gradient(rgb(245, 240, 240), rgb(245, 240, 240));
    background-attachment: fixed;
}

.navbar-icon {
    height: 25px;
}

.index-text {
    background: linear-gradient(rgb(72, 50, 35), rgb(125, 92, 64));
    color: white;
    border-radius: 15px;
    font-size: 24px;
    text-align: left;
    padding: 3%;
    margin: 0px;
}

.cta {
    font-size: 24px;
    text-align: center;
    margin: 10% 0 10% 0;
}

.index-img {
    position: relative;
    height: 500px;
}

.index-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.row {
    position: relative;
    margin: 12px 0px 12px 0px;
    align-items: center;
}

.portfolio-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url('../WIP.jpg');
    background-attachment: local;
}

.pre-footer-wrapper {
    min-height: 100%;
}

footer {
    position: relative;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}
