{% extends "base.html" %}

{% block app_content %}
<h2>
    Rylan Sturm
    <small class="text-body-secondary">Software Engineer</small>
</h2>
<br>
<p class="lead">
    Passionate about eliminating wasteful activities and solving problems.
    Fond of using computers to make it happen.
</p>
<br>
<p>
    I am a musician. I started piano when I was four years old and found a
    love of choral music that occupied most of my time up into college.
    After a few years pursuing a music degree I realized that, passion
    notwithstanding, I didn't want a career as a choir director.
</p>
<p>
    I dropped out and found a job while giving myself time to think. I was
    lucky to have been pointed to a manufacturing facility that valued
    thinking critically, solving problems, and, above all, continuous
    improvement. I quickly adapted to that culture and developed a skill
    for exposing problems and coming up with solutions.
</p>
<p>
    When my team faced a particular problem, I envisioned a software
    solution that could aid us. My leadership liked the idea, and I set
    out to find an existing application.
</p>
<p>None existed.</p>
<p>
    Thus began my journey into computer science. I broke the problem down
    into bite-sized pieces and searched how to do each small problem with
    Python. I ended with a Python GUI application, a Flask server with 
    MySQL, and a Raspberry Pi module for each operator communicating on a 
    self-contained network.
</p>
<p>
That project and its <a href=https://github.com/rylansturm/TaktTimerControlChart>
    later migration to C#</a> led me to enroll at Utah Valley University
    and transition my career to Software Engineering. I expect to graduate in 2024.
</p>
<p>
    My career interest is to work on low-level systems. I like working
    with logic, chips, sensors, and data. The final project for my 
    Computer Architecture class was a program written in an assembly
    language. I was having too much fun and went way past the requirements
    and made a <a href=https://github.com/rylansturm/Guessle-Assembly>
    Variant of Wordle</a> written entirely in assembly for the LC-3.
</p>
{% endblock %}
