{% extends "base.html" %}

{% block app_content %}
<div class="hero hero-left contact-bg">
    <h1>Contact Me</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <p class="contact-text">
            I am always interested in hearing about potential software engineering
            opportunities. Feel free to reach out at any time via email or LinkedIn.
            </p>
        </div>
    </div>
</div>

<div class="container" style="padding: 20px;">
    <div class="row justify-content-center" style="padding: 20px;">
        <div class="col-4">
            Email:
        </div>
        <div class="col-4">
            <a href="mailto:rylan.sturm@gmail.com">rylan.sturm@gmail.com</a>
        </div>
    </div>
    <div class="row justify-content-center" style="padding: 20px;">
        <div class="col-4">
            <img src="static/LI-Logo.png" height="32px">
        </div>
        <div class="col-4">
            <a href="{{ url_for('linkedin') }}">https://www.linkedin.com/in/rylan-sturm/</a>
        </div>
    </div>
</div>
{% endblock %}
