{% extends "base.html" %}

{% block app_content %}
<div class="hero hero-right index-bg">
    <h1>Rylan Sturm</h1>
    <p class="lead">
    I'm a software engineer with a love of low-level logic and systematic problem solving
    </p>
    <hr>
    <p><a class="btn btn-primary btn-lg" href="{{ url_for('portfolio', page_from='hero') }}" role="button">View Portfolio (WIP)</a></p>
</div>
<div class="container index-content">
    <div class="row">
        <div class="col-md-6 left-col">
            <div class="index-text">
                Welcome to my website/portfolio!
                My name is Rylan, and I am a software engineer currently pursuing my Computer Science degree at Utah Valley University.
                I expect to graduate in 2024.
            </div>
        </div>
        <div class="col-md-6 index-img">
            <img src="static/ParkCity.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 index-img">
            <img src="static/canyoneering.jpg">
        </div>
        <div class="col-md-6 right-col">
            <div class="index-text">
                I am currently working full-time as a quality specialist in manufacturing.
                I am actively looking for positions in software engineering or software quality.
                With my background in manufacturing and quality, I'm passionate about developing high-quality, reliable software that solves real-world problems.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 left-col">
            <div class="index-text">
                Whether you're an employer looking to fill a position or just interested in learning 
                more about my work, I'm excited to share my skills and experience with you.
            </div>
        </div>
        <div class="col-md-6 index-img">
            <img src="static/paddleboard.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="cta">
                <div>
                    I look forward to hearing from you!
                </div>
                <hr>
                <div>
                    <a role="button" class="btn btn-primary" href="{{ url_for('contact', page_from='index_cta') }}">
                        Contact Rylan
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock %}
